<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Home</title>
</head>
<body>
    <div>
            <% if(messages.registration) { %>
                <% for (var x of messages.registration) { %>
                <h3><%= x %></h3>
                <% } %>
            <% } %>
        <table>
            <tr>
                <th>Name</th>
                <th>Favorite Food</th>
            </tr>
            <% for (var m of mongoo) { %>
                <tr>
                    <td><%= m.name %></td>
                    <td><%= m.food %></td>
                    <td>
                        <a href="mongooses/<%= m._id %>">View</a> | 
                        <a href="mongooses/update/<%= m._id %>">Edit</a> | 
                        <a href="mongooses/delete/<%= m._id %>">Delete</a>
                    </td>
                </tr>
            <% } %>
        </table>
        <a href="/mongooses/new">Add New Mongoose</a>
    </div>

</body>
</html> 